</br>
<h4 class="list-item text-center text-muted mt-4">Character Management</h4></li>
</br>


<div class="container mt-4">
  <%= form_tag(search_admins_path, class:"navbar-form", role: "search") do %>
    <div class="form-row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= text_field_tag :search_params, nil, placeholder:"search in accounts", class:"form-control"%>
      </div>
      <div class="col-3">
        <div class="text-center">
          <%= submit_tag "Search Character", class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center account_management_index mb-1 mt-5">
    <ul class="list-inline"><% @characters.each do |character| %>
        <li class="list-inline-item mb-3" style="width:60px">Id: <%= character.id %></li>
        <li class="list-inline-item mb-3" style="width:230px">Name: <%= character.name %></li>
        <li class="list-inline-item mb-3" style="width:85px">Age: <%= character.age %></li>
        <li class="list-inline-item mb-3" style="width:140px">Born: <%= character.created_at.strftime("%F") %></li>
        <li class="list-inline-item mb-3" style="width:100px">Status:<%= character.status %></li>
        <% if alive_check(character) == true %>
          <li class="list-inline-item mb-3" style="width:150px; text-align:center">------</li>
        <% else %>
          <li class="list-inline-item mb-3" style="width:150px">Died: <%= character.died_on.strftime("%F") %></li>
        <% end %>
        <% if alive_check(character) == true %>
          <li class="list-inline-item mb-3" style="width:110px">Active: <%= active_character(character) %></li>
        <% else %>
          <li class="list-inline-item mb-3" style="width:110px; text-align:center">----</li>
        <% end %>
        <li class="list-inline-item mb-3" ><%= link_to 'Edit', edit_character_path(character.id), class: 'btn btn-outline-secondary' %></li>
        </br>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'shared/admin/back_for_admin_index' %>