</br>
<h4 class="list-item text-center text-muted mt-4">Admin: Show User</h4></li>

<div>
<%= form_for @user, :url => { :action => "user_update_by_admin" } do |f| %>
  <div class="container mt-4">
    <div class="form-row">
      <div class="col-3"></div>
      <div class="col-6">

        <div class="form-group">

          <div class="form-group">
            <%= f.label :id %>
            <%= f.text_field :id, class:"form-control", :disabled=>true %>
          </div>

          <div class="form-group">
            <%= f.label :name %>
            <%unless is_the_user_admin?(@user) %>
              <%= f.text_field :name, class:"form-control" %>
            <% else %>
              <%= f.text_field :name, class:"form-control", :disabled=>true %>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%unless is_the_user_admin?(@user) %>
              <%= f.text_field :email, class:"form-control" %>
            <% else %>
              <%= f.text_field :email, class:"form-control", :disabled=>true %>
            <% end %>
          </div>


          <div class="form-group">
            <% unless is_the_user_admin?(@user) %>
              <%= f.label :role %>
              <div class="text-center"
              <%= f.label :role, "Administrator", :value => "admin", :style => 'position:centre'  %>
              <%= f.radio_button :role, "admin" %>
              <%= f.label :role, "User", :value => "user", :style => 'position:centre'  %>
              <%= f.radio_button :role, "user", :checked => true %>
              </div>
            <% else %>
              <%= f.label :role %>
              <%= f.text_field :role, class:"form-control", :disabled=>true %>
            <% end %>
            </div>

        <div class="form-group">
          <%= f.label :Active? %>
          <%= f.text_field :has_character, class:"form-control", :disabled=>true %>
        </div>

        <div class="form-group text-center">
          <% unless is_the_user_admin?(@user) %>
            <%= f.submit 'Save User Details', class: 'btn btn-outline-secondary' %>
          <% else %>
            <h5 class="list-item text-center text-muted mt-4">You Can't edit an Admin user</h5>
          <% end %>
        </div>
      <% end %>
      </div>
    <div class="col-3"></div>
    </div>
  </div>
</div>

<%= render 'shared/admin/back_from_admin_pages' %>


