<h1 class="display-4 font-weight-bold font-italic text-muted ml-2">Dragon's Life</h1>
<ul class="list-inline">
  <div class="row">
    <div class="col-md-4 ml-2">
      <li class="list-inline-item text-muted"><h5>Username: <%= current_user.name %></h5></li>
      <li class="list-inline-item"><%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-outline-secondary', method: :delete %></li>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3 justify-content-center">
      <li class="list-inline-item"><%= link_to 'Guide', game_description_path, class: 'btn btn-outline-secondary' %></li>
      <li class="list-inline-item"><%= link_to 'Contact Us', contact_path, class: 'btn btn-outline-secondary' %></li>
      <li class="list-inline-item"><%= link_to 'About Us', about_us_path, class: 'btn btn-outline-secondary' %></li>
    </div>
  </div>
  </div>
</ul>
<hr>