</br>
<h4 class="list-item text-center text-muted mt-2">Guides:</h4></li>
<div class="spacer_0_5"></div>
<div class="container index_content_container">
  <h4 class="list-item text-center text-muted mt-2">Stats:</h4>
  <div class="spacer_1"></div>
  <div class="row justify-content-center full_leader_board">
    <ul class="list">
      <li class="list-inline-item"><%= link_to 'Age', age_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
      <li class="list-inline-item"><%= link_to 'Status', status_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
      <li class="list-inline-item"><%= link_to 'Fed State', fed_state_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
      <li class="list-inline-item"><%= link_to 'Activity Require', activity_require_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
      <li class="list-inline-item"><%= link_to 'Happiness', happiness_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
      <li class="list-inline-item"><%= link_to 'Hibernated', hibernated_path({extra: 'from_guides'}), class: 'btn btn-outline-secondary'%></li>
  </div>
</div>
</br>
<div class="spacer_2_5"></div>

<%= render 'shared/dinamic_single_index_back_button' %>