<p class="float-right small"><%= @message %></p>
<h2>Current user_id: <%= current_user.id %></h2>
</br>
<h2>Your Activity Require State is: <%=  @character.activity_require_level%></h2>
<div id="feeding">
  <ul class="list-inline">
    <li> <%= link_to "1 minute", activity_process_path(@character.id, {activity_require_level:  (@character.activity_require_level - 1),  extra: 'from_activity'}), method: :post %></li>
    <li> <%= link_to "2 minute", activity_process_path(@character.id, {activity_require_level:  (@character.activity_require_level - 2), extra: 'from_activity' }), method: :post %></li>
    <li><%= link_to "5 minute", activity_process_path(@character.id, {activity_require_level:  (@character.activity_require_level - 5), extra: 'from_activity' }), method: :post %></li>
    <li><%= link_to "10 minute", activity_process_path(@character.id, {activity_require_level:  (@character.activity_require_level - 10), extra: 'from_activity' }), method: :post %></li>
    <li><%= link_to "30 minute", activity_process_path(@character.id, {activity_require_level:  (@character.activity_require_level - 30), extra: 'from_activity' }), method: :post %></li>
  </ul>

  </br>
  </br>
  </br>

  <p><%= link_to 'Back to the Character Details Page ', character_path(@character)%></p>
</div>