</br>
<h4 class="list-item text-center text-muted mt-4">Activity</h4></li>

<%= render 'characters/shared/details_of_character_state' %>

</br>

<section class="content-section text-faded text-center pb-1">
  <div class="container mt-5 mb-4">
    <div class="row">

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('training/icons8-tennis-player-50.png'), activity_process_path(@character.id, params_builder_of_activity(@character,
                                                                                                                                          @amount,
                                                                                                                                          Services::AmountsOfActivityAction::LOST_MINOR_FEEDING,
                                                                                                                                          Services::AmountsOfActivityAction::ADDED_MINOR_AMOUNT,
                                                                                                                                          Services::AmountsOfActivityAction::ADDED_MINOR_HAPPINESS,
                                                                                                                                          Services::AmountsOfActivityAction::LOST_MINOR_ACTIVITY,
                                                                                                                                          'from_activity')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Small</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State <%= Services::AmountsOfActivityAction::LOST_MINOR_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness <%= Services::AmountsOfActivityAction::ADDED_MINOR_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: <%= Services::AmountsOfActivityAction::LOST_MINOR_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Get: <%= Services::AmountsOfActivityAction::ADDED_MINOR_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('training/icons8-skiing-50.png'), activity_process_path(@character.id, params_builder_of_activity(@character,
                                                                                                                                    @amount,
                                                                                                                                    Services::AmountsOfActivityAction::LOST_SMALL_FEEDING,
                                                                                                                                    Services::AmountsOfActivityAction::ADDED_SMALL_AMOUNT,
                                                                                                                                    Services::AmountsOfActivityAction::ADDED_SMALL_HAPPINESS,
                                                                                                                                    Services::AmountsOfActivityAction::LOST_SMALL_ACTIVITY,
                                                                                                                                    'from_activity')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Minor</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State <%= Services::AmountsOfActivityAction::LOST_SMALL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness <%= Services::AmountsOfActivityAction::ADDED_SMALL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: <%= Services::AmountsOfActivityAction::LOST_SMALL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Get: <%= Services::AmountsOfActivityAction::ADDED_SMALL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('training/icons8-climbing-50.png'), activity_process_path(@character.id, params_builder_of_activity(@character,
                                                                                                                                      @amount,
                                                                                                                                      Services::AmountsOfActivityAction::LOST_NORMAL_FEEDING,
                                                                                                                                      Services::AmountsOfActivityAction::ADDED_NORMAL_AMOUNT,
                                                                                                                                      Services::AmountsOfActivityAction::ADDED_NORMAL_HAPPINESS,
                                                                                                                                      Services::AmountsOfActivityAction::LOST_NORMAL_ACTIVITY,
                                                                                                                                      'from_activity')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Normal</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State <%= Services::AmountsOfActivityAction::LOST_NORMAL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness <%= Services::AmountsOfActivityAction::ADDED_NORMAL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: <%= Services::AmountsOfActivityAction::LOST_NORMAL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Get: <%= Services::AmountsOfActivityAction::ADDED_NORMAL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('training/icons8-canoe-50.png'),  activity_process_path(@character.id, params_builder_of_activity(@character,
                                                                                                                                    @amount,
                                                                                                                                    Services::AmountsOfActivityAction::LOST_LARGE_FEEDING,
                                                                                                                                    Services::AmountsOfActivityAction::ADDED_LARGE_AMOUNT,
                                                                                                                                    Services::AmountsOfActivityAction::ADDED_LARGE_HAPPINESS,
                                                                                                                                    Services::AmountsOfActivityAction::LOST_LARGE_ACTIVITY,
                                                                                                                                    'from_activity')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Large</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State <%= Services::AmountsOfActivityAction::LOST_LARGE_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness <%= Services::AmountsOfActivityAction::ADDED_LARGE_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: <%= Services::AmountsOfActivityAction::LOST_LARGE_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Get: <%= Services::AmountsOfActivityAction::ADDED_LARGE_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('training/icons8-weightlifting-50.png'),  activity_process_path(@character.id, params_builder_of_activity(@character,
                                                                                                                                            @amount,
                                                                                                                                            Services::AmountsOfActivityAction::LOST_EXTRA_FEEDING,
                                                                                                                                            Services::AmountsOfActivityAction::ADDED_EXTRA_AMOUNT,
                                                                                                                                            Services::AmountsOfActivityAction::ADDED_EXTRA_HAPPINESS,
                                                                                                                                            Services::AmountsOfActivityAction::LOST_EXTRA_ACTIVITY,
                                                                                                                                            'from_activity')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Extra</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State <%= Services::AmountsOfActivityAction::LOST_EXTRA_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness <%= Services::AmountsOfActivityAction::ADDED_EXTRA_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: <%= Services::AmountsOfActivityAction::LOST_EXTRA_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Get: <%= Services::AmountsOfActivityAction::ADDED_EXTRA_AMOUNT %> Gold</p></strong>
      </div>

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

    </div>
  </div>
</section>

</br>

<%= render 'characters/shared/back_button_for_action_page' %>