<h1> <%= @message %></h1>

<h2><%=  @character.fed_state%></h2>
<div id="feeding">
  <ul class="list-inline">
    <li> <%= link_to "1 minute", character_path(@character.id, {activity_require_level:  (@character.activity_require_level - 1) }), :method=> :put  %></li>
    <li> <%= link_to "2 minute", character_path(@character.id, {activity_require_level:  (@character.activity_require_level - 2) }), :method=> :put  %></li>
    <li><%= link_to "5 minute", character_path(@character.id, {activity_require_level:  (@character.activity_require_level - 5) }), :method=> :put  %></li>
    <li><%= link_to "10 minute", character_path(@character.id, {activity_require_level:  (@character.activity_require_level - 10) }), :method=> :put  %></li>
    <li><%= link_to "30 minute", character_path(@character.id, {activity_require_level:  (@character.activity_require_level - 30) }), :method=> :put  %></li>
  </ul>
</div>