<p class="float-right small"><%= @message %></p>
<h2>Current user_id: <%= current_user.id %></h2>
</br>

<h2>Your Fed State is: <%=  @character.fed_state%></h2>

</br>
<h4>Claim-able Feeding point: <%= @sent_potion_of_food %></h4>
</br>


<div style="display:">
  <%= link_to "Claim your Points", character_path(@character.id, {fed_state:  (@current_fed_state), extra: 'from_feeding_process' }), class:"btn btn-outline-secondary", :method => :put  %>
</div>

</br>
</br>

<p><%= link_to 'Back to the Character Details Page ', character_path(@character)%></p>
