<h1> <%= @message %></h1>

<h2><%=  @character.fed_state%></h2>
<div id="feeding">
  <ul class="list-inline">
    <li> <%= link_to "Small Potion", character_path(@character.id, {fed_state:  (@character.fed_state + 5) }), :method=> :put  %></li>
    <li> <%= link_to "Minor Potion", character_path(@character.id, {fed_state:  (@character.fed_state + 10) }), :method=> :put  %></li>
    <li><%= link_to "Normal Potion", character_path(@character.id, {fed_state:  (@character.fed_state + 15) }), :method=> :put  %></li>
    <li><%= link_to "Large Potion", character_path(@character.id, {fed_state:  (@character.fed_state + 20) }), :method=> :put  %></li>
    <li><%= link_to "Extra Potion", character_path(@character.id, {fed_state:  (@character.fed_state + 25) }), :method=> :put  %></li>
  </ul>
</div>