</br>
<h4 class="list-item text-center text-muted mt-4">Feeding</h4></li>

<section class="content-section text-center text-secondary">
  <div class="container pt-3">
    <ul class="list-inline">
      <li class="list-inline-item"><h6>Name Of Character: <%= @character.name %></h6></li></br></br>
      <li class="list-inline-item"><h6>Fed State: <%= @character.fed_state %></h6></li>
      <li class="list-inline-item"><h6>Activity require: <%= @character.activity_require_level %></h6></li>
      <li class="list-inline-item"><h6>Happiness: <%= @character.happiness %></h6></li>
    </ul>
  </div>
</section>

</br>


<section class="content-section text-faded text-center">
  <div class="container mt-5 mb-4">
    <div class="row">

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('food/icons8-cherry-50.png'), feeding_process_path(@character.id, params_builder_of_feeding(@character,
                                                                                                                              @amount,
                                                                                                                              Services::AmountsOfFeedingAction::ADDED_MINOR_FEEDING,
                                                                                                                              Services::AmountsOfFeedingAction::PAID_MINOR_AMOUNT,
                                                                                                                              Services::AmountsOfFeedingAction::ADDED_MINOR_HAPPINESS,
                                                                                                                              Services::AmountsOfFeedingAction::LOST_MINOR_ACTIVITY,
                                                                                                                              'from_feeding')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Small</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State +<%= Services::AmountsOfFeedingAction::ADDED_MINOR_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfFeedingAction::ADDED_MINOR_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfFeedingAction::LOST_MINOR_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfFeedingAction::PAID_MINOR_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('food/icons8-croissant-50.png'), feeding_process_path(@character.id, params_builder_of_feeding(@character,
                                                                                                                                 @amount,
                                                                                                                                 Services::AmountsOfFeedingAction::ADDED_SMALL_FEEDING,
                                                                                                                                 Services::AmountsOfFeedingAction::PAID_SMALL_AMOUNT,
                                                                                                                                 Services::AmountsOfFeedingAction::ADDED_SMALL_HAPPINESS,
                                                                                                                                 Services::AmountsOfFeedingAction::LOST_SMALL_ACTIVITY,
                                                                                                                                 'from_feeding')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Minor</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State +<%= Services::AmountsOfFeedingAction::ADDED_SMALL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfFeedingAction::ADDED_SMALL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfFeedingAction::LOST_SMALL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfFeedingAction::PAID_SMALL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('food/icons8-porridge-50.png'), feeding_process_path(@character.id, params_builder_of_feeding(@character,
                                                                                                                                @amount,
                                                                                                                                Services::AmountsOfFeedingAction::ADDED_NORMAL_FEEDING,
                                                                                                                                Services::AmountsOfFeedingAction::PAID_NORMAL_AMOUNT,
                                                                                                                                Services::AmountsOfFeedingAction::ADDED_NORMAL_HAPPINESS,
                                                                                                                                Services::AmountsOfFeedingAction::LOST_NORMAL_ACTIVITY,
                                                                                                                                'from_feeding')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Normal</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State +<%= Services::AmountsOfFeedingAction::ADDED_NORMAL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfFeedingAction::ADDED_NORMAL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfFeedingAction::LOST_NORMAL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfFeedingAction::PAID_NORMAL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('food/icons8-salami-pizza-50.png'), feeding_process_path(@character.id, params_builder_of_feeding(@character,
                                                                                                                                    @amount,
                                                                                                                                    Services::AmountsOfFeedingAction::ADDED_LARGE_FEEDING,
                                                                                                                                    Services::AmountsOfFeedingAction::PAID_LARGE_AMOUNT,
                                                                                                                                    Services::AmountsOfFeedingAction::ADDED_LARGE_HAPPINESS,
                                                                                                                                    Services::AmountsOfFeedingAction::LOST_LARGE_ACTIVITY,
                                                                                                                                    'from_feeding')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Large</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State +<%= Services::AmountsOfFeedingAction::ADDED_LARGE_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfFeedingAction::ADDED_LARGE_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfFeedingAction::LOST_LARGE_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfFeedingAction::PAID_LARGE_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('food/icons8-rack-of-lamb-50.png'), feeding_process_path(@character.id, params_builder_of_feeding(@character,
                                                                                                                                    @amount,
                                                                                                                                    Services::AmountsOfFeedingAction::ADDED_EXTRA_FEEDING,
                                                                                                                                    Services::AmountsOfFeedingAction::PAID_EXTRA_AMOUNT,
                                                                                                                                    Services::AmountsOfFeedingAction::ADDED_EXTRA_HAPPINESS,
                                                                                                                                    Services::AmountsOfFeedingAction::LOST_EXTRA_ACTIVITY,
                                                                                                                                    'from_feeding')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Extra</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State +<%= Services::AmountsOfFeedingAction::ADDED_EXTRA_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfFeedingAction::ADDED_EXTRA_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfFeedingAction::LOST_EXTRA_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfFeedingAction::PAID_EXTRA_AMOUNT %> Gold</p></strong>
      </div>

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

    </div>
  </div>
</section>

</br>

<section class="content-section mt-1 text-muted text-center">

  <div class="container mt-4 text-center">
    <div class="row mt-4">

      <div class="col-lg-5 col-md-7"></div>

      <div class="col-lg-2 col-md-7">
        <div class="action_arrow">
          <p><%= link_to 'Back', character_path(@character), class: 'btn btn-outline-secondary' %></p>
        </div>
        <p class="list-inline-item small text-dark">Action Page</p>
      </div>

      <div class="col-lg-5 col-md-7"></div>

    </div>
  </div>
</section>
