<div class="container index_content_container">
  <div class="row mt-5">

    <div class="col-lg-4 col-md-7 pr-5 border-right">
      <ul class="list text-center">
        <% if @my_character.nil? %>
          <li class="list-inline-item">You have no living Character! <%= link_to "Create one now", new_character_path %></li>
        <% else %>
          <li class="list-item text-center mb-5"><h4 class="text-muted">Your Active Character:</h4></li>
          <li class="list-item mb-1">Name: <%= @my_character.name %></li>
          <li class="list-item mb-1">Age: <%= @my_character.age %></li>
          <li class="list-item mb-1">Happiness: <%= @my_character.age %></li>
          <li class="list-item mb-1">Fed_state: <%= @my_character.fed_state %></li>
          <li class="list-item mb-1">Activity_require <%= @my_character.activity_require_level %></li>
        <%end %>
      </ul>
    </div>

    <div class="col-lg-8 col-md-7 pl-5 list_of_character">
      <h4 class="list-item text-center mb-4 text-muted">LeaderBoard:</h4></li></br>
      <div class="list_of_character">
        <ul class="list">
          <%@characters.each_with_index do |character,index| %>
            <li class="list-inline-item" style="width:40px"><%= index + 1  %></li>
            <li class="list-inline-item" style="width:280px">Name: <%= character.name %></li>
            <li class="list-inline-item" style="width:110px">Age: <%= character.age %></li>
            <li class="list-inline-item" style="width:110px">Status: <%= character.status %></li>
            <li class="list-inline-item mx-auto img-fluid small_arrow">
              <%= link_to image_tag('menu/next_for_list-25.png'), character_info_path(character.id, {extra: 'from_index'})%>
            </li>
            </br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4 text-center">



    <div class="col-lg-2 col-md-7">
      <div class="action_arrow">
        <p><%= link_to image_tag('menu/icons8-forward-50.png'), character_path(@my_character.id, {extra: 'from_index'}) %></p>
      </div>
      <p class="list-inline-item small text-dark">Character Training</p>
    </div>

    <div class="col-lg-2 col-md-7">
      <div class="action_arrow">
        <p><%= link_to image_tag('menu/icons8-forward-50.png'), all_of_my_character_path({extra: 'from_index'}) %></p>
      </div>
      <p class="list-inline-item small text-dark">My Characters History</p>
    </div>

    <div class="col-lg-3 col-md-7"></div>


    <div class="col-lg-2 col-md-7">
      <div class="action_arrow">
        <p><%= link_to image_tag('menu/icons8-forward-50.png')%></p>
      </div>
      <p class="list-inline-item small text-dark">Expanded Leaderboard</p>
    </div>
    <div class="col-lg-4 col-md-7"></div>


  </div>

</div>
