</br>

<h4 class="text-center text-muted mt-5">Create your new Character</h4>
<div class="container index_content_container">
  <div class="row justify-content-center mt-1">

    </br>
    </br>


    <%= form_for :character, url: characters_path do |f| %>
      <h6 class="text-center text-muted mt-5 mb-4">Name of your new Character</h6>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control'%><br />
        <p class="small text-center text-muted mb-3">Max 25 character long</p>

        <%= f.hidden_field :user_id, :value => current_user.id %>

        </br>

        <div class="action_arrow  mt-5 pt-4">
          <p><%= f.submit 'Create', class: 'btn btn-outline-secondary btn-block' %></p>
        </div>
        <p class="text-center small text-dark">Create Now</p>
      </div>

    <% end %>


      <div class="container text-center">
        <div class="row mt-5">

          <div class="col-lg-5 col-md-7"></div>

          <div class="col-lg-2 col-md-7">
            <div class="action_arrow">
              <p><%= link_to 'Back', characters_path, class: 'btn btn-outline-secondary' %></p>
            </div>
            <p class="list-inline-item small text-dark">Main Page</p>
          </div>

          <div class="col-lg-5 col-md-7"></div>

        </div>
      </div>


  </div>
</div>