<h1> <%= @message %></h1>
<h2>Current user_id: <%= current_user.id %></h2>
</br>

<%= form_for :character, url: characters_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit %>
<% end %>