<p class="float-right small"><%= @message %></p>
<h2>Current user_id: <%= current_user.id %></h2>

</br>
<ul class="list-inline">
  <li class="list-inline-item">Name of User: <%= @user.name %></li>
  <li class="list-inline-item">He is member from: <%= date_view_optimizer(@user.created_at) %></li>
  </br>
</ul>

</br>
</br>
</br>

<p><%= link_to 'Back to the Characters Page ', characters_path%></p>