</br>
<h4 class="list-item text-center text-muted mt-4">Playing Path</h4></li>


<section class="content-section text-center mt-5 mb-5">
  <div class="container pt-5 mt-5 mb-5">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-7"></div>
      <div class="col-lg-6 col-md-7">
        <table class="table table-sm table-borderless text-secondary">
          <thead>
          <tr>
            <th>Fed State: <%= @character.fed_state %></th>
            <th>Activity Require: <%= @character.activity_require_level %></th>
            <th>Happiness: <%= @character.happiness %></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Lose-able: <%= @sent_potion_of_food %></td>
            <td>Lose-able: <%= @sent_points_of_activity %></td>
            <td>Claim-able: <%= @sent_happiness_points%></td>
          </tr>
          </tbody>
        </table>

        <%= render 'characters/shared/amount_on_process' %>

        <div class="col-lg-3 col-md-7"></div>
      </div>
    </div>
  </div>
</section>

<div class="spacer_1 pb-5"></div>


<section class="content-section mt-5 text-muted text-center">

  <div class="container mt-5 text-center">
    <div class="row mt-5">

      <div class="col-lg-4 col-md-7"></div>
      <div class="col-lg-2 col-md-7">
        <div class="action_arrow">
          <p><%= link_to 'Back', character_path(@character),class: 'btn btn-outline-secondary' %></p>
        </div>
        <p class="list-inline-item small text-dark">Characters Page</p>
      </div>

      <div class="col-lg-2 col-md-7">
        <div class="action_arrow mb-3">
          <%= button_to 'Claim', character_path(@character.id, params_builder_of_action_process(@current_fed_state,
                                                                                                @current_amount,
                                                                                                @current_activity_state,
                                                                                                @current_happiness_state,
                                                                                                'from_playing_process' )), id:'claim_button', disabled: false, :remote => true, class: 'btn btn-outline-secondary', :method => :put %>
        </div>
        <p class="list-inline-item small text-dark">Claim your Points</p>
      </div>
      <div class="col-lg-4 col-md-7"></div>

    </div>
  </div>

</section>

<!--<script>-->
<!--    setTimeout(function(){-->
<!--        $('#claim_button').removeAttr('disabled');-->
<!--    }, <%= (@sent_happiness_points.to_i)*1000 %> );-->
<!--</script>-->