</br>
<h4 class="list-item text-center text-muted mt-4">Playing</h4></li>

<%= render 'characters/shared/details_of_character_state' %>

</br>

<section class="content-section text-faded text-center pb-1">
  <div class="container mt-5 mb-4">
    <div class="row">

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('playing/icons8-yoga-mat-50.png'), playing_process_path(@character.id, params_builder_of_playing(@character,
                                                                                                                                   @amount,
                                                                                                                                   Services::AmountsOfPlayingAction::LOST_MINOR_FEEDING,
                                                                                                                                   Services::AmountsOfPlayingAction::PAID_MINOR_AMOUNT,
                                                                                                                                   Services::AmountsOfPlayingAction::ADDED_MINOR_HAPPINESS,
                                                                                                                                   Services::AmountsOfPlayingAction::LOST_MINOR_ACTIVITY,
                                                                                                                                   'from_playing')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Small</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State -<%= Services::AmountsOfPlayingAction::LOST_MINOR_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfPlayingAction::ADDED_MINOR_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfPlayingAction::LOST_MINOR_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfPlayingAction::PAID_MINOR_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('playing/icons8-racket-50.png'), playing_process_path(@character.id, params_builder_of_playing(@character,
                                                                                                                                 @amount,
                                                                                                                                 Services::AmountsOfPlayingAction::LOST_SMALL_FEEDING,
                                                                                                                                 Services::AmountsOfPlayingAction::PAID_SMALL_AMOUNT,
                                                                                                                                 Services::AmountsOfPlayingAction::ADDED_SMALL_HAPPINESS,
                                                                                                                                 Services::AmountsOfPlayingAction::LOST_SMALL_ACTIVITY,
                                                                                                                                 'from_playing')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Minor</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State -<%= Services::AmountsOfPlayingAction::LOST_SMALL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfPlayingAction::ADDED_SMALL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfPlayingAction::LOST_SMALL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfPlayingAction::PAID_SMALL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('playing/icons8-game-controller-50.png'), playing_process_path(@character.id, params_builder_of_playing(@character,
                                                                                                                                          @amount,
                                                                                                                                          Services::AmountsOfPlayingAction::LOST_NORMAL_FEEDING,
                                                                                                                                          Services::AmountsOfPlayingAction::PAID_NORMAL_AMOUNT,
                                                                                                                                          Services::AmountsOfPlayingAction::ADDED_NORMAL_HAPPINESS,
                                                                                                                                          Services::AmountsOfPlayingAction::LOST_NORMAL_ACTIVITY,
                                                                                                                                          'from_playing')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Normal</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State -<%= Services::AmountsOfPlayingAction::LOST_NORMAL_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfPlayingAction::ADDED_NORMAL_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfPlayingAction::LOST_NORMAL_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfPlayingAction::PAID_NORMAL_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('playing/icons8-rock-music-50.png'), playing_process_path(@character.id, params_builder_of_playing(@character,
                                                                                                                                     @amount,
                                                                                                                                     Services::AmountsOfPlayingAction::LOST_LARGE_FEEDING,
                                                                                                                                     Services::AmountsOfPlayingAction::PAID_LARGE_AMOUNT,
                                                                                                                                     Services::AmountsOfPlayingAction::ADDED_LARGE_HAPPINESS,
                                                                                                                                     Services::AmountsOfPlayingAction::LOST_LARGE_ACTIVITY,
                                                                                                                                     'from_playing')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Large</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State -<%= Services::AmountsOfPlayingAction::LOST_LARGE_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfPlayingAction::ADDED_LARGE_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfPlayingAction::LOST_LARGE_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfPlayingAction::PAID_LARGE_AMOUNT %> Gold</p></strong>
      </div>


      <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
        <div class="action_image_5">
          <li class="list-inline-item">
            <%= link_to image_tag('playing/icons8-surf-50.png'), playing_process_path(@character.id, params_builder_of_playing(@character,
                                                                                                                               @amount,
                                                                                                                               Services::AmountsOfPlayingAction::LOST_EXTRA_FEEDING,
                                                                                                                               Services::AmountsOfPlayingAction::PAID_EXTRA_AMOUNT,
                                                                                                                               Services::AmountsOfPlayingAction::ADDED_EXTRA_HAPPINESS,
                                                                                                                               Services::AmountsOfPlayingAction::LOST_EXTRA_ACTIVITY,
                                                                                                                               'from_playing')), method: :post %>
          </li>
        </div>
        <h5 class="mt-4 text-secondary">
          <strong>Extra</strong>
        </h5>
        <p class="text-secondary mb-0 ">Fed State -<%= Services::AmountsOfPlayingAction::LOST_EXTRA_FEEDING %> </p>
        <p class="text-secondary mb-0">Happiness +<%= Services::AmountsOfPlayingAction::ADDED_EXTRA_HAPPINESS %></p>
        <p class="text-secondary mb-0">Activity Require: -<%= Services::AmountsOfPlayingAction::LOST_EXTRA_ACTIVITY %></p>
        </br>
        <strong><p class="text-secondary mb-1">Cost: <%= Services::AmountsOfPlayingAction::PAID_EXTRA_AMOUNT %> Gold</p></strong>
      </div>

      <div class="col-lg-1 col-md-6 mb-5 mb-lg-0">
      </div>

    </div>
  </div>
</section>

</br>

<%= render 'characters/shared/back_button_for_action_page' %>
