<p class="float-right small"><%= @message %></p>
<h2>Current user_id: <%= current_user.id %></h2>
</br>
<ul class="list-inline">
  <li class="list-inline-item">Name of Character: <%= @character.name %></li>
  <li class="list-inline-item">Age Of Character: <%= @character.age %></li>
  <li class="list-inline-item">Status:<%= @character.status %></li>
  <li class="list-inline-item">Hungry: <%= @character.fed_state %></li>
  <li class="list-inline-item">Activity <%= @character.activity_require_level %></li>
</ul>
</br>

<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'Feed your Character', character_feeding_path(@character), class:"btn btn-outline-success"%></li>
  <li class="list-inline-item"><%= link_to 'Play with Your Character', character_activity_path(@character), class:"btn btn-outline-success"%></li>
</ul>

</br>

<p><%= link_to 'Back to the Characters Page ', characters_path, class:"float-right" %></p>

</br>


<p><%= link_to 'Destroy your character', character_path(@character), method: :delete, data: {confirm: "Are you sure"}, class:"float-right", style: 'color:red' %></p>

