<div class='container index_content_container' style="height:400px">
  <div class="row">
    <div class="col-md-5 row justify-content-center side_mains_container" style="border-right:1px solid #EFEFEF">
    </div>

    <div class="col-md-7 list_of_character">
      <h4 class="list-item text-center mb-4 text-muted">LeaderBoard:</h4></li></br>
      <div class="list_of_character">
        <ul class="list">
          <%@characters.each_with_index do |character,index| %>
            <li class="list-inline-item" style="width:30px"><%= index + 1  %></li>
            <li class="list-inline-item" style="width:250px">Name: <%= character.name %></li>
            <li class="list-inline-item" style="width:100px">Age: <%= character.age %></li>
            <li class="list-inline-item" style="width:100px">Status: <%= character.status %></li>
            <li class="list-inline-item mx-auto img-fluid small_arrow">
              <%= link_to '->', main_path(character.id, {extra: 'from_mains'}), class: 'btn btn-secondary mb-1'%>
              <%#= link_to image_tag('menu/next_for_list-25.png'), main_path(character.id, {extra: 'from_mains'})%>
            </li>
            </br>
          <% end %>
        </ul>
      </div>

      <div class="row mt-4 text-center">
        <div class="col-lg-4 col-md-7"></div>

        <div class="col-lg-4 col-md-7">
          <div class="action_arrow">
            <%= link_to '->', leaderboard_path, class: 'btn btn-secondary mb-1'%>
<!--            <p><%#= link_to image_tag('menu/icons8-forward-50.png'), leaderboard_path %></p>-->
          </div>
          <p class="list-inline-item small text-dark">Expanded Leaderboard</p>
        </div>

        <div class="col-lg-4 col-md-7"></div>

      </div>
    </div>
  </div>
</div>

