<div>
  <h1> <%= @message %></h1>
  <ul class="list-inline"><%@characters.each do |character| %>
      <li class="list-inline-item">Character: <%= character.name %></li>
      <li class="list-inline-item">Age Of Character: <%= character.age %></li>
      <li class="list-inline-item">Status:<%= character.status %></li>
      <li class="list-inline-item">Owner: <%= character.user_id %></li>
      <li class="list-inline-item">
          <%= link_to 'Character_info', main_path(character.id, {extra: 'from_mains.index'})  %>
      </li>
      </br>
    <% end %>
  </ul>
</div>