<h1>mains.index.html.erb</h1>
<div>
  <h1> @message </h1>
  <ul class="list-inline"><%@characters.each do |character| %>
      <li class="list-inline-item">Character: <%= character.name %></li>
      <li class="list-inline-item">Age Of Character: <%= character.age %></li>
      <li class="list-inline-item">Status:<%= character.status %></li>
      <li class="list-inline-item">Owner: <%= character.user_id %></li>
      <li class="list-inline-item">
        <%= link_to 'Character', character_path(character.id, {extra: 'from_index'}) %>
      </li>
      </br>
    <% end %>
  </ul>
</div>