</br>

</br>
<div class='container index_content_container' style="height:400px">
  <div class="row">
    <div class="col-md-5 row justify-content-center side_mains_container" style="border-right:1px solid #EFEFEF">
      <h1 class="" style="padding-top:30%">Message of test side content</h1>
    </div>

    <div class="col-md-7 list_of_character">
      <h4 class="list-item text-center mb-4 text-muted">LeaderBoard:</h4></li></br>
      <div class="list_of_character">
        <ul class="list">
          <%@characters.each_with_index do |character,index| %>
            <li class="list-inline-item" style="width:40px"><%= index + 1  %></li>
            <li class="list-inline-item" style="width:280px">Name: <%= character.name %></li>
            <li class="list-inline-item" style="width:110px">Age: <%= character.age %></li>
            <li class="list-inline-item" style="width:110px">Status: <%= character.status %></li>
            </br>
          <% end %>
        </ul>
      </div>

      <div class="row mt-4 text-center">
        <div class="col-lg-4 col-md-7"></div>

        <div class="col-lg-4 col-md-7">
          <div class="action_arrow">
            <p><%= link_to image_tag('menu/icons8-forward-50.png')%></p>
          </div>
          <p class="list-inline-item small text-dark">Expanded Leaderboard</p>
        </div>

        <div class="col-lg-4 col-md-7"></div>

      </div>
    </div>
  </div>
</div>

