</br>
<h4 class="list-item text-center text-muted mt-4">Info Page:</h4>
<section class="content-section mt-5 mb-5 text-muted text-center">
  </br>

  <div class="container mt-5 mb-5">
    <h6>Details of Character: <%= @character.name %></h6>
    </br>
    <ul class="list-inline mb-5">
      <li class="list-inline-item">Age Of Character: <%= @character.age %></li>
      <li class="list-inline-item">Status:<%= @character.status %></li>
    </ul>
  </div>
    <div class="container mt-5 mb-5">
    <h6>Owner of This Character:</h6>
      </br>
    <ul class="list-inline">
      <li class="list-inline-item">User: <%= @user.name %></li>
      <li class="list-inline-item">Memeber since: <%= date_view_optimizer(@user.created_at) %></li>
      <li class="list-inline-item">Number of created Characters: <%= @number_of_characters.count %></li>
      </br>
    </ul>
  </div>

</section>

<div class="spacer_1_5"></div>

<%= render 'shared/dinamic_single_index_back_button' %>